/* styling how the dropdown options look */
.dropdown-options {
    display: none;
    position: absolute;
    /* background-color:#536579; */
    min-width: 160px;
    z-index: 1;
    text-align: left;
    padding: 10px;
    box-shadow: 0 8px 16px #00bfe3;
}

/* setting the shape of the drop down options */
.dropdown:hover .dropdown-options {
    display: block;
    list-style-type:none;
}

.dropdown-options .dropdown-item {
    color:#f0ec02;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options .dropdown-item:hover {
    background-color: #db02a3;
}

/* Navbar custom styling */
.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-toggler {
    background-color:#00bfe3;
}

#nav1, #navbarDropdown {
    color:#00bfe3;
}

body {
    background-color:black;
    font-family: 'AlibabaSans', 'sans-serif';
    margin: 0px;
    padding: 0px;
    height: 100%
}

@font-face {
    font-family: 'AlibabaSans';
    src: url('./alibaba-sans/') format('woff2'),
        url('./alibaba-sans/AlibabaSans-Black.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    background-color: #000000;
    color:#db02a3; 
    border-top: 2px solid #0135ce;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #db02a3;
    margin: 0;
    padding: 0;
}

.footer img {
    max-width: 100%;
    height: auto;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer ul {
    padding-top: 10px;
    list-style: none;
}

.footer ul li {
    margin-block-end: 10px;
}

.footer ul li a:hover {
    color:#f0ec02!important;
}

#copy-banner {
    color:#f0ec02;
    background-color:#0135ce;
    border-top: 2px solid #db02a3;
}

.accent {
    color:#0135ce;
}

.accent-text, #fab {
    color:#00bfe3;
}

#photo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    z-index: -1;
}

#login {
    color: #00bfe3;
}

/* ----- What colors work for text on black background from WebAIM -------
-- black: #000000 (background)
-- red: #f10101 (works on black background)
-- bright blue: #0135ce (doesn't work on black background)
-- baby blue: #00bfe3 (works GREAT on black background)
-- purple: #23007d (doesn't work on black background)
-- yellow: #f0ec02 (works GREAT on black background)
-- magenta: #4f0142 (doesn't work on black background)
-- orange: #e65400 (works on black background)
-- pink: #db02a3 (works on black background)
-- light blue: #b6edfa (works GREAT on black background)
-- white: ffffff (works GREAT on black background)
 */