/* styling how the dropdown options look */
.dropdown-options {
    display: none;
    position: absolute;
    /* background-color:#536579; */
    min-width: 160px;
    z-index: 1;
    text-align: left;
    padding: 10px;
    box-shadow: 0 8px 16px #00bfe3;
}

/* setting the shape of the drop down options */
.dropdown:hover .dropdown-options {
    display: block;
    list-style-type:none;
}

.dropdown-options .dropdown-item {
    color:#f0ec02;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options .dropdown-item:hover {
    background-color: #db02a3;
}

/* Navbar custom styling */
.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-toggler {
    background-color:#00bfe3;
}

#nav1, #navbarDropdown {
    color:#00bfe3;
}

body {
    background-color:black;
    font-family: 'AlibabaSans', 'sans-serif';
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

@font-face {
    font-family: 'AlibabaSans';
    src: url('./alibaba-sans/') format('woff2'),
        url('./alibaba-sans/AlibabaSans-Black.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    background-color: #000000;
    color:#db02a3; 
    border-top: 2px solid #23007d;
    border-bottom: 2px solid #db02a3;
    padding: 0px 0;
}

.footer img {
    max-width: 60%;
    height: auto;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .row {
    width: 100%;
}

.footer .row .col-md-4 {
    text-align: center;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin-block-end: 10px;
    font-family: AlibabaSans-Light;
}

.footer ul li a:hover {
    color:#f0ec02!important;
}

.footer a {
    text-decoration: none; 
    color:#b6edfa; 
}

#copy-banner {
    color:#b6edfa;
    background-color:#23007d;
    border-top: 2px solid #db02a3;
}

.accent {
    color:#b6edfa;;
    font-family: AlibabaSans-Light;
}

#photo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    z-index: -1;
}

#login {
    color: #00bfe3;
}

.blurb-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#blurb-img {
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-bottom: 10px;
}

.btn {
    background-color: #e65400;
    color:#b6edfa;
    margin: 40px auto; 
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px;
}

.col-12 {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.btn:hover {
    background-color: #b6edfa;
    color: #e65400;
}

.card {
    width: auto;
    background-color:#4f0142;
    border: 3px dashed #b6edfa;
    color: #b6edfa;
    font-family: AlibabaSans-Light;
    font-size: 25px;

}

.features, .awards {
    color:#f0ec02;
}


#award-1 {
    height: 300px;
    width: 250px;
}

#award-2 {
    height: 300px;
    width: 250px;
}

#award-3 {
    height: 300px;
    width: 250px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top-features-container {
    border: 2px solid #4f0142;
}

/* .features-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */


/* ----- What colors work for text on black background from WebAIM -------
-- black: #000000 (background)
-- red: #f10101 (works on black background)
-- bright blue: #0135ce (doesn't work on black background)
-- baby blue: #00bfe3 (works GREAT on black background)
-- purple: #23007d (doesn't work on black background)
-- yellow: #f0ec02 (works GREAT on black background)
-- magenta: #4f0142 (doesn't work on black background)
-- orange: #e65400 (works on black background)
-- pink: #db02a3 (works on black background)
-- light blue: #b6edfa (works GREAT on black background)
-- white: ffffff (works GREAT on black background)
 */